*,
*::after,
*::before {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	color: #1A1A1A;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 31px;
}
.container {
	max-width: 1460px;  
	margin: 0px auto;
	padding: 0 10px;
}
.section-title {
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 32px;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.header {
	min-height: 655px;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	min-width: 0;
}
.header__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header__content-top {
	height: 65px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 70px;
	position: relative;
	z-index: 50;
}
.header__content-logo {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	display: block;
	width: 80px;
	position: relative;
	z-index: 1000;
}
.burger {
	display: none;
}
.burger-line {
	width: 28px;
	height: 28px;
	transform: rotate(0deg);
	transition: 0.5s ease-in;
	cursor: pointer;
}
.burger-line span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #151515;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
}
.burger-line span:nth-child(1) {
	top: 0px;
}
.burger-line span:nth-child(2) {
	top: 13px;
}
.burger-line span:nth-child(3) {
	top: 24px;
}
.open span:nth-child(1) {
	top: 11px;
	transform: rotate(135deg);
}
.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}
.open span:nth-child(3) {
	top: 11px;
	transform: rotate(-135deg);
}
.header__content-title {
	font-family: 'Oswald', sans-serif;;
	font-weight: 700;
	font-size: 60px;
	line-height: 66px; 
	text-transform: uppercase;
	margin-bottom: 44px;
}
.header__content-text {
	font-size: 15px;
	line-height: 164%; 
	margin-bottom: 40px;
	max-width: 550px;
}
.header__content-btn {
	display: inline-block;
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 100%; 
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 23px 41px 22px;
	border-radius: 4px;
	background: #FF2D2D;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
	margin-bottom: 130px;
	transition: all .5s;
	border-radius: 4px;
}
.header__content-btn:hover {
	background-color: #980000;
	box-shadow: none;
}
.header__slider {
	width: 50%;
}
.rigthside {
	display: none;
}
.menu {
	padding-right: 30px;
	width: 100%;
	margin: 0px auto;
}
.menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	color: #272525;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	text-transform: uppercase;
}
.menu__link {
	transition: all .5s;
}
.menu__link:hover {
	color: #980000;
}
.socials {
	display: flex;
	gap: 20px;
	align-items: center;
}
.socials__link {
	transition: all .5s;
}
.socials__link:hover {
	opacity: .8;
}
.slick-track {
	display: flex;
	align-items: flex-start;
}
.slick-current.slider__item {
	filter: brightness(1);
}
.slider .slick-track  {
	gap: 21px;
}
.slick-list {
	overflow: hidden;
}
.sliderbig {
	min-width: 0;
}
.sliderbig__item {
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	background-position: center;
}
.slide__content {
	margin: 43px;
	width: 260px;
	background: rgba(255, 255, 255, 0.70);
	backdrop-filter: blur(7.5px);
	padding: 20px 30px;
	font-size: 13px;
	color: #000000;
}
.slide__content-title {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}
::marker {
	color: #1A1A1A;
}
.slide__content-item {
	font-size: 13px;
	color: #6A6868;
}
.slide__content-description span {
	color: #6A6868;
}
.slider { 
	max-height: 600px;
	min-width: 0; 
	position: relative;
	padding: 0 50px;
	margin-top: -60px;
}
.slider .slick-arrow {
	position: absolute;
	bottom: 32px;
	z-index: 10;
	font-size: 0;
	transition: all .5s;
	cursor: pointer;
}
.slider .slick-arrow:hover {
	opacity: 0.7;
}
.slider .slick-arrow.slick-prev {
	left: 20px;
	background: url('../images/prev.svg') 0 0 / 100% no-repeat;
	height: 15px;
	width: 26px;
	border: none;
}
.slider .slick-arrow.slick-next {
	right: 20px;
	background: url('../images/next.svg') 0 0 / 100% no-repeat;
	height: 15px;
	width: 26px;
	border: none;
}
.slider .slick-dots {
	list-style: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 24px;
	position: absolute;
	top: 13px;
	left: 26px;
	transform: translateX(-50%);
	z-index: 80;
	color: #ffffff;
	letter-spacing: -3px;
}
.slider__item {
	transition: all 0.3s ease 0s;
	filter: brightness(0.5);
	cursor: pointer;
}
.slider__item:hover {
	filter: brightness(1);
}
.slider img {
	height: auto;
	max-width: 100%;
}

/*-------ABOUT--------*/
.about {
	padding: 100px 0;
}
.about__content-box {
	display: flex;
	justify-content: space-between;
	gap: 45px;
	margin-bottom: 60px;
}
.about__content-img {
	display: block;
	max-width: 100%;
	max-width: 600px;
}
.about__content-decor {
	display: block;
  align-self: flex-end;
  max-width: 100%;
}
.about__content-title {
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px; 
	text-transform: uppercase;
	margin-bottom: 35px;
}
.about__content-text + .about__content-text {
	margin-top: 25px;
}
.about__content-btn {
	display: inline-block;
	margin-top: 25px;
	color: #FFF;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 17px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 24px 116px 23px;
	background: #000;
	border-radius: 4px;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
	transition: all .5s;
}
.about__content-btn:hover {
	background-color: #980000;
	box-shadow: none;
}

/*---------PROJECTS---------*/
.projects {
	margin-bottom: 100px;
}
.projects__slider {
	min-width: 0; 
	padding-bottom: 70px;
}
.big-container {
	max-width: 2000px;
	margin: 0px auto;
	position: relative;
}
.projects-slider__item {
	height: 460px;
}
.projects-slider .slick-arrow {
	position: absolute;
	bottom: 18px;
	z-index: 10;
	font-size: 0;
	transition: all .5s;
	cursor: pointer;
}
.projects-slider .slick-arrow:hover {
	opacity: 0.7;
}
.projects-slider .slick-arrow.slick-prev {
	left: 20px;
	background: url('../images/prev.svg') 0 0 / 100% no-repeat;
	height: 15px;
	width: 26px;
	border: none;
}
.projects-slider .slick-arrow.slick-next {
	right: 20px;
	background: url('../images/next.svg') 0 0 / 100% no-repeat;
	height: 15px;
	width: 26px;
	border: none;
}
.projects-slider .slick-track {
	display: flex;
	align-items:center;
} 
.projects-slider__content {
	width: 260px;
	background: rgba(255, 255, 255, 0.70);
	backdrop-filter: blur(7.5px);
	padding: 20px 30px;
	font-size: 13px;
	color: #000000;
	opacity: 0;
	transition: all 0.5s;
}
.slick-current .projects-slider__content {
	opacity: 1;
}
.projects-slider__item {
	filter: brightness(0.4);
}
.slick-current.projects-slider__item {
	filter: brightness(1);
	height: 500px;
}
.slick-dots li:not(.slick-active) {
  display: none;
}
.slick-dots li .slick-active {
	display: block;
}
.projects-slider .slick-dots {
	list-style: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 24px;
	position: absolute;
	bottom: 0; 
	left: 50%;
	transform: translateX(-50%);
	z-index: 80;
	color: #1A1A1A;
	letter-spacing: -3px;
}
.slick-dots li span {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
.projects-slider .slick-slide {
  transition: width 0.3s ease;
}
.projects-slider .slick-slide.slick-active {
  width: 420px; 
}
.projects-slider__item {
	filter: brightness(0.4);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	transition: filter 3s;
}
.projects-slider__item:hover {
	filter: brightness(1);
}
.projects-slider__item-inner {
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
}
.projects-slider__content-title {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.projects-slider__content-item {
	font-size: 13px;
	color: #6A6868;
}
.projects-slider__content-description span {
	color: #6A6868;
}

/*------HOW-------*/
.how {
	margin-bottom: 100px;
}
.how__box {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
}
.how__item {
	position: relative;
}
.how__item::after {
	content: "";
	position: absolute;
	top: 5px;
  right: 0;
  background-image: url('../images/how-arrow.svg');
  width: 61px;
  height: 14px;
  background-repeat: no-repeat;
	background-position: center right;
  background-size: contain;
} 
.how__item:nth-child(4):after,
.how__item:nth-child(5):after {
	display: none;
}
.how__item:nth-child(7):after {
	content: "";
	top: -53px;
  right: 0px;
  background-image: url('../images/how-arrow-vert.svg');
  width: 13px;
  height: 60px;
	background-repeat: no-repeat;
	background-size: contain;
}
.how__item:nth-child(6):after  {
	transform: rotate(180deg);
} 
.how__item-title {
	font-family:'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.item-promo {
	grid-column: span 2;
}
.how__item-promo {
	background-color: #F1F1F1;
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	padding: 40px 0;
	margin-top: auto;
}
.decoration {
	position: absolute;
	bottom: 33px;
	left: 0;
	width: 500px;
	height: 102px;
	background-color: #F1F1F1;
	z-index: -1;
}

/*---------CONTACTS--------*/
.contacts {
	padding: 100px 0;
	background-color: #f5f5f5;
}
.contacts__inner {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}
.contacts__info {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.contacts__form {
	width: 500px;
}
.form {
	width: 100%;
}
.form-input {
	display: block;
	width: 100%;
	margin-bottom: 30px;
	background-color: #f5f5f5;
	color: #151515;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	padding: 20px 22px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.60);
}
.form-input::placeholder {
	color: #867D7D;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
.form__btn {
	border: none;
	border-radius: 4px;
	background: #FF2D2D;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.18);
	padding: 23px;
	color: #FFF;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	width: 100%;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.5s;
}
.form__btn:hover {
	background-color: #980000;
	box-shadow: none;
}
.contacts__info-phone {
	position: relative;
	padding-left: 35px;
	display: block;
	color: #030303;
	font-weight: 700;
	transition: all .5s;
}
.contacts__info-phone:hover {
	color: #6A6868;
}
.contacts__info-phone:hover.contacts__info-phone::before {
	opacity: 0.7;
}
.contacts__info-phone + .contacts__info-phone {
	margin-top: 20px;
}
.contacts__info-phone::before {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	width: 20px;
	height: 20px;
	background-image: url('../images/phone.svg');
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity .5s;
}
.contacts__info-mail {
	display: block;
	margin: 30px 0;
}
.contacts__img {
	border-radius: 4px;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.18);
}

/*------------FOOTER-----------*/
.footer {
	background: #151515;
	color: #ffffff;
	padding: 70px 0 73px;
}
.footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}
.footer__logo {
	display: block;
	color: #FFF;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
}
.footer__copy {
	color: #B8B5B5;
	font-size: 13px;
	line-height: 15px;
	width: 180px;
}
.footer__menu {
	padding-right: 0;
	max-width: 415px;
	width: auto;
}
.footer__menu .menu__list {
	gap: 30px;
	color: #ffffff;
	justify-content: space-between;
	margin: 0;
}
.footer__arrow {
	display: block;
	transition: opacity 0.3s;
}
.footer__arrow:hover {
	opacity: 0.5;
}
.footer__arrow-img {
	display: block;
}
.footer__phones {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}
.footer__phones-link {
	display: block;
	padding-left: 35px;
	position: relative;
	width: 155px;
	transition: all 0.5s;
}
.footer__phones-link:hover {
	color: #867D7D;
}
.footer__phones-link::before {
	content: '';
	position: absolute;
	left: 0;
	top: 5px;
	width: 20px;
	height: 20px;
	background-image: url('../images/phone-white.svg');
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity 0.5s;
}
.footer__phones-link:hover.footer__phones-link::before {
	opacity: 0.5;
}


/*---------------RESPONSIVE---------*/
@media(max-width: 1402px) {
	.decoration {
		bottom: 64px;
	}
}

@media(max-width: 1365px) {
	.slider {
		margin-top: -120px;
	}
	.slider .slick-dots {
    top: 61px;
	}
	.slider .slick-track {
    gap: 10px;
	}
}

@media(max-width: 1265px) {
	.header {
    min-height: 584px;
	}
	.sliderbig__item {
    height: 544px;
	}
	.sliderbig__item--project {
		height: 700px;
	}
	.slider {
    margin-top: -82px;
		padding: 0 30px;
	}
	.slider .slick-arrow {
    bottom: 22px;
	}
	.slider .slick-arrow.slick-prev {
		left: 0;
	}
	.slider .slick-arrow.slick-next {
		right: 0;
	}
	.slider .slick-dots {
    top: 44px;
    left: 18px;
	}
}

@media(max-width: 1246px) {
	.header__content-title {
    font-size: 48px;
    line-height: 50px;
	}
	.header__content-text {
    max-width: 421px;
	}	
	.project-text {
		max-width: 100%;
	}
	.footer__phones {
		flex-direction: column;
		gap: 8px;
	}
}

@media(max-width: 1180px) {
	.about__content-decor {
		display: none;
	}
	.about__content-img {
		max-width: 40%;
		object-fit: cover;
	}
	.how__item::after {
    width: 44px;
	}
	.how__item:nth-child(7)::after {
    top: -42px;
    height: 44px;
	}
	.contacts__inner {
		justify-content: flex-start;
		gap: 60px;
	}
	.contacts__info-mail {
    margin: 20px 0;
	}
	.contacts__info {
		flex-direction: column-reverse;
	}
	.contacts__img {
		width: 100%;
		height: 138px;
		object-fit: cover;
	}
}

@media(max-width: 1110px) {
	.menu {
		padding: 0;
	}
	.menu__list {
		gap: 12px;
	}
	.how__item:nth-child(3):after {
		width: 35px;
		right: -18px;
	}
	.footer__inner {
		gap: 25px;
	}
}

@media(max-width: 1088px) {
	.decoration {
		bottom: 95px;
		width: 200px;
	} 
}

@media(max-width: 1083px) {
	.how__box {
		grid-template-columns: repeat(3, 1fr);
	}
	.how__item:nth-child(1),
	.how__item:nth-child(2),
	.how__item:nth-child(3) {
		order: 0;
	}
	.how__item:nth-child(4) {
		order: 2;
	}
	.how__item:nth-child(6) {
		order: 1;
	}
		
	.how__item:nth-child(5) {
		order: 2;
	}
	.how__item:nth-child(3):after {
		display: none;
	}
	.how__item:nth-child(4)::after {
		content: '';
		position: absolute;
		top: -55px;
		right: 0px;
		background-image: url('../images/how-arrow-vert.svg');
		width: 13px;
		height: 44px;
	}
	.how__item:nth-child(4):after {
		display: block;
		width: 83px;
	}
	.how__item:nth-child(7):after {
		background-image: url('../images/how-arrow.svg');
		width: 44px;
		height: 14px;
		top: 5px;
		right: 0;
		transform: rotate(180deg);
	}
}

@media(max-width: 1082px) {
	.decoration {
		bottom: 0;
	}
	/* .header__slider--project { */
		/* display: none;
	}*/
	.rigthside--project {
		width: 100%;
	}
	/* .header__content-inner--project{
		display: flex;
	} */
	.header__image {
		max-width: 100%;
		/* width: 40%; */
	} 
}

@media(max-width: 970px) {
	.header__content-title {
    font-size: 45px;
    line-height: 47px;
	}
	.about__content-box {
		gap: 20px;
	}
	.footer__menu .menu__list {
		gap: 15px;
	}
}

@media(max-width: 917px){
	.header {
		min-height: 100%;
	}
	.header__content-top {
		margin-bottom: 20px;
	}
	.header__inner {
		display: block;
	}
	.header__content-inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		gap: 20px;
	}
	.menu__list {
		justify-content: flex-end;
		gap: 20px;
	}
	.slider,
	.sliderbig {
		/* display: none; */
	}
	.header__content-centre {
    padding-top: 25px;
	}
	.header__content-btn {
		margin-bottom: 80px;
	}
	.header__content-title {
    font-size: 40px;
    line-height: 42px;
		margin-bottom: 36px;
	}
	.rigthside {
		display: flex;
		align-items: flex-end;
		width: 50%;
		min-height: 440px;
		background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	}
	.rigthside--project {
		width: 100%;
	}
	.rigthside__item {
		background-size: cover;
		background-repeat: no-repeat;
		height: 600px;
	}
	.rigthside__content {
		margin: 0px;
		width: 260px;
		background: rgba(255, 255, 255, 0.70);
		backdrop-filter: blur(7.5px);
		padding: 20px 30px;
		font-size: 13px;
		color: #000000;
	}
	.rigthside__content-title {
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		font-size: 15px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 10px;
	}
	.rigthside__content-item {
		font-size: 13px;
		color: #6A6868;
	}
	.rigthside__content-description span {
		color: #6A6868;
	}
}

@media(max-width: 900px) {
	.about__content-box {
		flex-direction: column-reverse;
	}
	.about__content-box:nth-child(2) img {
		display: none;
	}
	.about__content-img {
		max-width: 100%;
	}
	.footer__menu {
		display: none;
	}
}

@media(max-width: 830px) {
	.contacts__inner {
		gap: 30px;
	}
}

@media(max-width: 780px) {
	.how__box {
    grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 50px;
	}
	.how__item:nth-child(2)::after {
		display: none;
	}
	.how__item:nth-child(3) {
		order: 2;
	}
	.how__item:nth-child(4) {
    order: 1;
	}
	.how__item:nth-child(6) {
		order: 3;
	}
	.how__item:nth-child(7) {
		order: 3;
	}
	.how__item:nth-child(5) {
		order: 4;
	}
	.how__item:nth-child(3)::after {
		display: block;
		top: -55px;
    right: 0px;
    background-image: url('../images/how-arrow-vert.svg');
    width: 13px;
    height: 44px;
	}
	.how__item:nth-child(4)::after {
		background-image: url('../images/how-arrow.svg');
    width: 44px;
    height: 14px;
    top: 0;
    right: 0;
    transform: rotate(180deg);
	}
	.how__item:nth-child(7)::after {
		display: none;
	}
	.how__item:nth-child(6)::before {
		content: '';
		position: absolute;
		top: -53px;
    left: 0px;
    background-image: url('../images/how-arrow-vert.svg');
		background-repeat: no-repeat;
		background-size: contain;
    width: 13px;
    height: 41px;
	}
	.how__item:nth-child(6)::after {
		transform: rotate(0deg);
	}
}

@media(max-width: 770px) {
	.header__content-title {
	font-size: 34px;
	line-height: 36px;
	margin-bottom: 29px;
	}
	.rigthside__content {
    width: 239px;
    padding: 12px 24px;
	}
	.rigthside__content-title {
		margin-bottom: 2px;
	}
}

@media(max-width: 720px) {
	.header__content-title {
		font-size: 28px;
		line-height: 30px;
		margin-bottom: 29px;
	}
	.header__content-btn {
    display: block;
    font-size: 14px;
    padding: 20px 14px 19px;
    width: 100%;
		max-width: 265px;
		text-align: center;
	}
	.header__content-text {
		margin-bottom: 28px;
	}	
	.header__content-left {
		width: 100%;
	}
	.header__content-inner {
	flex-direction: column;
	align-items: flex-start;
	}
	.rigthside {
		width: 100%;
	}
}

@media(max-width: 670px) {
	.how__box {
		grid-column-gap: 10px;
	}
	.how__item::after,
	.how__item:nth-child(4)::after {
		width: 30px;
		top: 6px;
	}
	.how__item:nth-child(3)::after,
	.how__item:nth-child(6)::before {
		height: 35px;
	}
}

@media(max-width: 610px) {
	.how__box {
		grid-template-columns: repeat(1, 1fr);
		grid-row-gap: 58px;
	}
	.item-promo {
		grid-column: span 1;
	}
	.how__item:nth-child(2),
	.how__item:nth-child(3),
	.how__item:nth-child(4),
	.how__item:nth-child(6),
	.how__item:nth-child(7){
		order: 0;
	}
	.how__item:nth-child(2)::after,
	.how__item:nth-child(3)::after,
	.how__item:nth-child(4)::after,
	.how__item:nth-child(6)::after,
	.how__item:nth-child(7)::after {
		display: block;
		top: -55px;
		left: 50%;
		transform: translateX(-50%);
		background-image: url('../images/how-arrow-vert.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 13px;
		height: 41px;
	}
	.how__item:nth-child(1)::after,
	.how__item:nth-child(6)::before  {
		display: none;
	}
}

@media(max-width: 600px) {
	.burger {
		display: block;
		width: 28px;
	}
	.menu__list.menu__list--active {
		top: 65px;
		right: 0px;
		left: 0px;
		background-color: #fff;
		color: #1A1A1A;
		display: block;
		transform: translateY(0);
	}
	.menu__list {
		position: absolute;
		transition: all .7s;
		z-index: -1;
		transform: translateY(-200px);
		padding: 47px 10px 94px 10px;
		gap: 0;
		right: 0;
	}
	.menu__link {
		display: block;
		width: 100%;
		padding: 14px 0px 10px 0px;
		text-align: center;
	}
	.projects-slider .slick-slide.slick-active {
    width: auto;
		max-width: 90%;
	}
}

@media(max-width: 560px) {
	.socials {
		justify-content: flex-end;
	}
	.header__content-btn {
    margin-bottom: 15px;
	}
	.contacts__inner {
		flex-direction: column;
		gap: 60px;
	}
	.contacts__form {
		width: 100%;
	}
	.contacts__img {
    height: 295px;
	}
	.contacts__info-socials {
		justify-content: start;
	}
	.contacts__info {
		gap: 30px;
	}
	.footer__inner {
		flex-direction: column;
	}
}

@media(max-width: 530px) {
.projects-slider .slick-track {
	display: flex;
	align-items: center;
	gap: 10px;
	}
}

@media(max-width: 490px) {
	.about__content-btn {
    width: 100%;
    padding: 24px 20px 23px;
	}
	.how__item-promo {
		line-height: 180%;
		padding-right: 15px;
		max-width: 350px;
	}
	.item-promo {
		background-color: #f1f1f1;
	}
	.decoration {
		height: 152px;
	}
	.contacts__img {
		height: 240px;
	}
}

@media(max-width: 425px) {
	.menu__list {
		padding: 47px 0 133px 0px;
	}
	.contacts__img {
		height: 180px;
	}
}